<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div data-name="result"></div>
  <div style="display: flex; flex-direction: column;">
    <input type="text" data-name="value">
    <div style="display: flex;">
      <button data-action="value-empty-check-click">value-empty</button>
    </div>
  </div>
</body>
<script type="importmap">
  {
    "imports": { "@nuka9510/js-util": "https://cdn.jsdelivr.net/npm/@nuka9510/js-util/dist/index.mjs" }
  }
</script>
<script type="module" src="../js/index.mjs"></script>
</html>